@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 02f7a078a376dfebf0d219b059c446923495b077
